<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <a href="#" class="pull-left"><img src="image.png"></a> 
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  
    <div class = "container">
    <br>
    <h3 class="page-header">Call Logger</h3>
    <hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Advisor Name</th>
      <th scope="col">Client Name</th>
      <th scope="col">Scheduled Date</th>
      <th scope="col">Call Status</th>
      <th scope="col">Call Duration</th>
      <th scope="col">Survey Sent</th>
      <th scope="col">Survey Completed</th>
      
    </tr>
  </thead>

  
  <tbody *ngFor = "let contact of contacts">
    <tr class="table-active">
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>   
    
  </tbody>

</table> 

</div>
 
<hr>
<div class = "container">

    <fieldset>
        <legend>Custom forms</legend>
        
      
        <div class="form-group">
          <select class="custom-select">
            <option selected="">Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>