<div class = "container">
    <br>
    <h3 class="page-header">Call Logger</h3>
    <hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Advisor Name</th>
      <th scope="col">Client Name</th>
      <th scope="col">Scheduled Date</th>
      <th scope="col">Call Status</th>
      <th scope="col">Call Duration</th>
      <th scope="col">Survey Sent</th>
      <th scope="col">Survey Completed</th>
      
    </tr>
  </thead>

  
  <tbody *ngFor = "let contact of contacts">
    <tr class="table-active">
      <td>{{contact.first_name}}</td>
      <td>{{contact.last_name}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>   
    
  </tbody>

</table> 

</div>
    


<hr>
